# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d810b2a1ce2fc0bdf6683d5ed8af3e7b4e089119c47ffcff20134945a62efc2556a94d416a59fe5285077381ccf2c4f34edc57360e7516fd085bcee0aecd1a67

test:
  secret_key_base: 76386e04c76f92c0339c14ee9d2832ccced0593bf87fc7339990b710a52e093b3a16415bc99c550c92e741c9bb31aaec2f0f88f915710ffb3350d714ebd54ef2

production:
  secret_key_base: 92b4b615f3064d448c0d01f14873e78d791064aec5cbc1cf8be0ed6b9ddd8c14dc0a3c2fedac08912b90b7f51f1980d65a14a35eca0fd7140a5c06e61b4f3751
